@mixin flexColumn(){
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@mixin gridTemplate(){
  width: 100%; 
  height: auto; 
   
  display: grid;
  grid-template-columns: 514px;
  grid-template-rows: 216px 216px 216px;
  grid-auto-columns: 1fr;
  gap: 69px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "food-options"
    "drink-options"
    "dessert-options";
}