@mixin flexColumn(){
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
@mixin articlesContainer(){
  display: flex;
  align-items: center;

  width: min-content;
  height: 100%;
}