$colors: (
  "price": rgba(0, 0, 0, 1),
  "default": rgba(51, 51, 51, 1),
  "gray-light": rgba(166, 166, 166, 1),
  "gray-dark": rgba(203, 203, 203, 1),
  "background": rgba(229, 229, 229,1 ),
  "green": rgba(50, 183, 47, 1),
  "red": rgba(207, 43, 43, 1),
  "white": rgba(255, 255, 255, 1)
);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-sizes: (
  "small": 15px,
  "medium": 16px,
  "big": 20px,
  "header-footer": 18px,
  "main-title": 26px,
  "header-logo": 44px
);
