$colors: (
  "price": rgba(0, 0, 0, 1),
  "default": rgba(51, 51, 51, 1),
  "gray-light": rgba(166, 166, 166, 1),
  "gray-dark": rgba(203, 203, 203, 1),
  "background": rgba(229, 229, 229,1 ),
  "green": rgba(50, 183, 47, 1),
  "red": rgba(207, 43, 43, 1),
  "pink": rgb(250, 64, 152),
  "pink-light": rgb(255, 131, 189)
);
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-sizes: (
  "item-description": 15px,
  "default": 16px,
  "buttom-text": 20px,
  "header-footer": 18px,
  "main-title": 26px,
  "header-logo": 44px
);
