@import './resets';
@import './variables';
@import './mixins';
@import './functions';

body {
  position: relative;
  height: 100%;
  width: 100vw;
  background-color: color("background");
}
header {
  @include flexColumn();

  position: fixed;
  z-index: 5;
  padding-left: 21px;
  width: 100%;
  height: 92px;

  color: rgb(255, 255, 255);
  background-color: color("pink");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .#{&}__logo {  
    font-family: 'Righteous', cursive;
    font-size: size("header-logo");
  }
  .#{&}__subtext {
    font-family: 'Roboto', sans-serif;
    font-size: size("header-footer");
    font-weight: weight("regular");
  }
  img {
    position: absolute;
    top: 0px;
    right: 8px;
    width: 90px;
  }
}
main {
  position: relative;
  width: 100%;
  top: 92px;
  padding-top: 30px;
  margin-bottom: 180px;
}
article {
  @include flexColumn();
  width: 172px;
  height: 216px;
  margin-right: 16px;
  padding-left: 15px;

  overflow-wrap: break-word; 
  font-family: 'Roboto', sans-serif;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  :nth-child(2) {
    font-size: size("default");
    font-weight: weight("bold");
  }
  :nth-child(3) {
    font-size: size("item-description");
    font-weight: weight("light");
    color: color("gray-light");
    line-height: 18px;
  }
  :nth-child(4) {
    font-size: size("default");
    font-weight: weight("regular");
  }
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 92px;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  background-color: rgba(255, 255, 255, 0.925);

  button {
  width: 80%;
  height: 50%;
  border-radius: 50px;
  text-align: center;

  background-color: color("pink-light");
}
}
.options-container {
  position: relative;

  width: 100vw;
  height: 280px;
  padding: 40px 10px 10px 21px;
  margin-bottom: 17px;
  overflow: scroll;
}
.options-title {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 21px;

  font-family: 'Righteous', cursive;
  font-size: size("main-title");
  color: color("default");
}
.articles-container {
  @include articlesContainer();
}
.selected-food {
  box-shadow: 0px 0px 0px 5px rgba(50, 183, 47, 1) inset;
}
.selected-drink {
  box-shadow: 0px 0px 0px 5px rgba(50, 183, 47, 1) inset;
}
.selected-dessert {
  box-shadow: 0px 0px 0px 5px rgba(50, 183, 47, 1) inset;
}
.hidden {
  display: none;
}
.pop-up {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
}
.disable-scroll {
  overflow: hidden;
}
.de-select {
  position: fixed;
  z-index: 7;
  top: 50%;

  height: 200px;
  width: calc(100vw - 20px);
  margin: 0 20px;
  padding: 20px;

  font-family: 'Roboto', sans-serif;
  font-size: size("main-title");
  color: white;
  text-align: center;

  background-color: color("pink-light");
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
